<div class="loader"></div>
	<div id="page">	
	<header id="header" class="cover js-fullheight" role="banner" style="background-image:url(../assets/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(../assets/images/user-3.jpg);"></div>
							<h1><span>Nicole Sager</span></h1>
							<h3><span>Frontend Web Developer / Artist / Scuba diver</span></h3>
							<div>
								<ul class="social-icons">
									<li><a href="#"><i class="icon-linkedin2"></i></a></li>
									<li><a href="#"><i class="icon-dribbble2"></i></a></li>
									<li><a href="#"><i class="icon-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 text-center heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8 col-md-5">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">Nicole Marie Anne Sager</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">sager.nicole@hotmail.com</span></li>
						
						<li><span class="first-block">Nationality:</span><span class="second-block">Swiss</span></li>
						<li><span class="first-block">Mother Tongue:</span><span class="second-block">German</span></li>
					</ul>
				</div>
				<div class="col-xs-12 col-md-7">
					<h2>Hello There!</h2>
					<p>There live the blind texts far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in bookmarksgrove there live the blind texts far from the countries.</p>
					<p>Far far away, behind the word mountains, Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci there live the blind texts from the countries Vokalia and Consonantia, there live the blind texts. Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-xs-8 col-xs-offset-2 text-center heading">
						<h2>My Services</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-paintbrush"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Design</h3>
							</div>
						</div>
					</div>
					<div class="col-xs-4 text-center">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-bargraph"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Developent</h3>
							</div>
						</div>

					</div>
					<div class="col-xs-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
							<div class="feature-copy">
								<h3>Learning Quickly</h3>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<div id="resume" class="bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-xs-8 col-xs-offset-2 text-center heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Work Experience</h3></div>
						</li>
						<li class="animate-box timeline-inverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Software Engineer</h3>
									<span class="company">Intersim AG - Mai 2019 - Heute</span>
								</div>
								<div class="timeline-body">
									<p>80% Job
										<span>using mainly the following tools: SCSS, ES6, github, Sitevision(php, Symfony)</span>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-unverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Manager Assistant</h3>
									<span class="company">Rohn Erlach - Oktober 2018 - Mai 2019</span>
								</div>
								<div class="timeline-body">
									<p>Assisting with everything needed in the family business</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-inverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Trainee Software Enineer</h3>
									<span class="company">89grad GmbH - August 2017 - Juli 2018</span>
								</div>
								<div class="timeline-body">
									<p>full-time internship
										<span>using mainly the following tools: Python/Django</span>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-unverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Trainee Software Enineer</h3>
									<span class="company">enersis suisse AG - August 2016 - Juli 2017</span>
								</div>
								<div class="timeline-body">
									<p>full-time internship
										<span>using mainly the following tools: JS 5/TS, CSS & HTML</span>
									</p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Vocational trainer</h3>
									<span class="company">berufsbildner.ch - August 2020</span>
								</div>
								<div class="timeline-body">
									<p>Eidgenössisch anerkannte Berufsbildnerin</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">EFZ Informatik & BM KV</h3>
									<span class="company">BWD Bern & Gibb - 2013 - 2018</span>
								</div>
								<div class="timeline-body">
									<p>Informatik EFZ fachrichtung Applikationsentwicklung mit Kaufmännischer Berufsmatura</p>
								</div>
							</div>
						</li>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Additional Certificates</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">BEC Higher</h3>
									<span class="company">Cambridge Assessment - August 2015</span>
								</div>
								<div class="timeline-body">
									<p>Business English Certificate Higher (Level C1)</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 text-center heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-sx">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>HTML5</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="93"><span><strong>CSS3</strong>93%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>jQuery</strong>90%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="89"><span><strong>PHP</strong>89%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>MySQL</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>AngularJS</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Ruby</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Java</strong>90%</span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="progress-wrap">
						<h3><span class="name-left">HTML5/CSS3</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">WordPress</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">PHP</span><span class="value-right">80%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Java</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Design</span><span class="value-right">100%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Ruby</span><span class="value-right">70%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Python</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">jQuery</span><span class="value-right">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="work" class="bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-xs-8 col-xs-offset-2 text-center heading">
					<h2>Work</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-4 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(../assets/images/portfolio-1.jpg);">
						<div class="desc">
							<h3>Project Name</h3>
							<span>Illustration</span>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-md-4 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(../assets/images/portfolio-2.jpg);">
						<div class="desc">
							<h3>Project Name</h3>
							<span>Brading</span>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-md-4 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(../assets/images/portfolio-3.jpg);">
						<div class="desc">
							<h3>Project Name</h3>
							<span>Illustration</span>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-md-4 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(../assets/images/portfolio-4.jpg);">
						<div class="desc">
							<h3>Project Name</h3>
							<span>Design</span>
						</div>
					</a>
				</div>
				<div class="col-xs-6 col-md-4 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(../assets/images/portfolio-5.jpg);">
						<div class="desc">
							<h3>Project Name</h3>
							<span>Website</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p class="sr-only">&copy; 2017 Free HTML5 Template. All Rights Reserved. <br>Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>